:root {
    --main-background: #ffffff;
    --main-background-dark: #ffffff;
    --main-pop-colour: #ffffff;
    --main-pop-colour-dark: #ffffff;
    --main-pop-colour-light: #ffffff;
    --secondary-pop-colour: #ffffff;
    --secondary-pop-colour-dark: #ffffff;
    --secondary-pop-colour-light: #ffffff;

}

body, html{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;

}
input {
    margin: 10px;
}

button {
    border: 1px solid black;
    align-items: flex-start;
    outline: none;
    background-color: var(--main-background);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}
button:hover {
    background-color: var(--main-background-dark);
}

input {
    padding: 10px;
    border-radius: 5px;
}

select {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

th {
    text-align: left;
}


#headerBar {
    padding: 20px;

    background-color: var(--secondary-pop-colour);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main {
    background-color: var(--main-background);
    display: flex;

    justify-content: center;
}

#optionsPane {
    background-color: var(--main-background-dark);
    width: 300px;
    min-width: 250px;
    padding: 20px;
}

#taskPane {
    background-color: var(--main-background);
    width: 900px;
    padding: 20px 40px;
    margin: 0 auto;
}

#footerBar {
    display: flex;
    justify-content: center;
    background-color: var(--main-pop-colour);
}

#root {
    background-color: purple;
}


#newTaskInterface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.priority-0, .priority-1, .priority-2, .priority-3, .priority-4 {
    border-radius: 5px;
    padding: 10px;
}

.priority-0 {
    background-color: #339900;
}
.priority-1 {
    background-color: #99cc33;
}
.priority-2 {
    background-color: #ffcc00;
}
.priority-3 {
    background-color: #ff9966;
}
.priority-4 {
    background-color: #cc3300;
}


input[type="radio"] {
    display: none;
    cursor: pointer;
}

label {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    text-align: center;
}

.radioLabel {
    height: 100%;
    display: block;
    background: white;
    border: 2px solid hsla(150, 75%, 50%, 1);
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
    position: relative;
}
input[type="radio"]:checked + label {
    background: hsla(150, 75%, 50%, 1);
    background: white;
    color: hsla(215, 0%, 100%, 1);
    color: black;
    box-shadow: 0px 0px 10px hsla(150, 100%, 50%, 0.75);
}
p {
    font-weight: 900;
}